



.section-1{
    height: 810px;
    background-color: black;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
}

.section-text{
    margin: 0;
    color: black;
    font-weight: bold;
    text-align: center;
}

.col-3{
    width: 33.08%;
    height: 800px;
    background-color: aquamarine;
    display: inline-flex;
    padding: -15px;
    margin-top: 0px;
    text-align: center;
    flex-wrap: wrap;

}

.service-content{
    padding: 0.6em 1.2;
}
.service-text{
    padding: 30px;
    text-align: justify;
    bottom: 0;
}

.service-text.memebers{
    font-style: italic; 
}
.imagen-streaming img{ 
    width: 380px;
    height: 300px;
    margin-left: 6px;
    
}

.imagen-enviorement img{
    width: 380px;
    height: 300px;
    margin-left: 6px;
    
}
.imagen-marketing img {
    width: 380px;
    height: 300px;
    margin-left: 6px;
    
}
body{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 2000px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 1200px;
    background-color: whitesmoke;
    height: 2000px;
    align-self: center;
    margin: 0px auto;
    padding: 0px auto;
}
.linea-Title{
    height: 5px;
    width: 80%;
    background-color: black;

}
.Title{

    text-align: center;
    background-color: red;

}


